.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 25%;
    margin-top: 2%;
  }
  
.example-full-width {
    width: 100%;
}

.row-item {
    background-color: #ffe4c4;
}

.item {
    text-align: center;
}

.temp-delta {
    font-weight: bold;
    margin-left: 10px;
}