.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 25%;
    margin-top: 2%;
  }
  
.example-full-width {
    width: 100%;
}

.row-item {
    background-color: #ffe4c4;
}

.item {
    text-align: center;
}

.temp-delta {
    font-weight: bold;
}

.mat-list-base {
    padding: 5%;
}

.temp-row {
    width: max-content;
}

.healthy-delta-status {
    font-size: 1.5rem;
    margin-left: 2.5%;
    color: green;
}

.unhealthy-delta-status {
    font-size: 1.5rem;
    margin-left: 2.5%;
    color: red;
}

.material-icons {
    font-size: xxx-large;
}