<mat-list>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput placeholder="email" type="search" name="searchText" [(ngModel)]="searchText">
    </mat-form-field>    
  </form>

  <mat-divider></mat-divider>
  <div *ngIf="searchResults">
    <table>
      <thead>
      <tr>
        <th>Date: Temp Delta</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Height</th>
        <th>User ID</th>
        <th>Delta Temp Status</th>
        <th>Score Status</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-item" *ngFor="let person of searchResults | filter: searchText">
        <td *ngIf="sleepResults">
          <div class="temp-row" *ngFor="let item of sleepResults">
            {{item.summary_date}}: <span class="temp-delta">{{item.temperature_delta}}</span>
          </div>          
        </td>
        <td class="item"><a [routerLink]="['/search']">{{person.email}}</a></td>
        <td class="item">{{person.gender}}</td>
        <td class="item">{{person.age}}</td>
        <td class="item">{{person.weight}}</td>
        <td class="item">{{person.height}}</td>
        <td class="item">...{{person.user_id | slice:-6}}</td>
        <td>
          <div class="healthy-delta-status" *ngIf="avgDelta">
            <div *ngIf="avgDelta < 0.5">
              <span class="material-icons">sentiment_very_satisfied</span>
              <span> Healthy</span>
            </div>
            <div class="unhealthy-delta-status" *ngIf="avgDelta >= 0.5">
              <span class="material-icons">sentiment_very_dissatisfied</span>
              <span> High Delta Temperature</span>
            </div>
          </div>
        </td>
        <td>
          <div class="healthy-score-status" *ngIf="avgScore2">
            <div *ngIf="avgScore2 >= 60">
              <span class="material-icons">sentiment_very_satisfied</span>
              <span> Healthy</span>
            </div>
            <div class="unhealthy-score-status" *ngIf="avgScore2 < 60">
              <span class="material-icons">sentiment_very_dissatisfied</span>
              <span> High Temperature</span>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>  
</mat-list>