h1 {
    margin-top: 2%;
    margin-left: 2.5%;
}

.healthy-score-status {
    font-size: 1.5rem;
    margin-left: 2.5%;
    color: green;
}

.unhealthy-score-status {
    font-size: 1.5rem;
    margin-left: 2.5%;
    color: red;
}

.healthy-delta-status {
    font-size: 1.5rem;
    margin-left: 2.5%;
    color: green;
}

.unhealthy-delta-status {
    font-size: 1.5rem;
    margin-left: 2.5%;
    color: red;
}

.material-icons {
    font-size: xxx-large;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}
  
th {
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding: 8px;
}
  
td {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.item {
    text-align: center;
}

.divider {
    margin-top: 5%;
}

.mat-list-base {
    padding: 0 5%;
}