<h1>Summary of {{user.email}}</h1>

<div *ngIf="!avgScore">
  <mat-spinner></mat-spinner>
</div>

<div class="healthy-score-status" *ngIf="avgScore">
  <div *ngIf="avgScore >= 60">
    <span class="material-icons">sentiment_very_satisfied</span>
    <span> Healthy Score</span>
  </div>
  <div class="unhealthy-score-status" *ngIf="avgScore < 60">
    <span class="material-icons">sentiment_very_dissatisfied</span>
    <span> High Temperature</span>
  </div>
</div>

<div class="healthy-delta-status">
  <div *ngIf="avgDelta < 0.5">
    <span class="material-icons">sentiment_very_satisfied</span>
    <span> Healthy Delta Temp</span>
  </div>
  <div class="unhealthy-delta-status" *ngIf="avgDelta >= 0.5">
    <span class="material-icons">sentiment_very_dissatisfied</span>
    <span> High Delta Temperature</span>
  </div>
</div>

<mat-list>
<div class="divider"></div>
<mat-divider></mat-divider>
<div *ngIf="sleepResults">
    <h2>Sleep Summary</h2>
    <table>
        <thead>
        <tr>
          <th>Summary Date</th>
          <th>Sleep Duration (seconds)</th>
          <th>Efficiency</th>
          <th>Temperature Delta</th>
          <th>Score</th>          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of sleepResults">
          <td class="item">{{item.summary_date}}</td>
          <td class="item">{{item.duration}}</td>
          <td class="item">{{item.efficiency}}</td>
          <td class="item">{{item.temperature_delta}}</td>
          <td class="item">{{item.score}}</td>          
        </tr>
        </tbody>
    </table>
</div>
<div class="divider"></div>
<mat-divider></mat-divider>
<div *ngIf="activityResults">
    <h2>Activity Summary</h2>
    <table>
        <thead>
        <tr>
          <th>Summary Date</th>
          <th>Day Start</th>
          <th>Day End</th>
          <th>Score</th>          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of activityResults">
          <td class="item">{{item.summary_date}}</td>
          <td class="item">{{item.day_start}}</td>
          <td class="item">{{item.day_end}}</td>
          <td class="item">{{item.score}}</td>          
        </tr>
        </tbody>
    </table>
</div>
<div class="divider"></div>
<mat-divider></mat-divider>
<div *ngIf="readinessResults">
    <h2>Readiness Summary</h2>
    <table>
        <thead>
        <tr>
          <th>Summary Date</th>
          <th>Score</th>
          <th>Score Temperature</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of readinessResults">
          <td class="item">{{item.summary_date}}</td>
          <td class="item">{{item.score}}</td>
          <td class="item">{{item.score_temperature}}</td>
        </tr>
        </tbody>
    </table>
</div>
</mat-list>